# Please use this file to avoid staging/committing files that are NOT useful for
# development. Refer to git-scm.com/docs/gitignore for more information.

# Files w/o '.' (except "Makefile" and "Doxyfile") in base directory
# (i.e. UNIX binaries)
*
!Makefile
!Doxyfile
!*.*
!*/

# Emacs backup files
*~

# C/C++ unlinked object code
*.o

# Database Files
*.db

# Documentation (generate with "make docs" instead of cluttering up GitHub)
html/*

# Zip archives (so as not to track the SQLite amalgam archive)
*.zip

# Windows executables
*.exe

# Specific Files #
